schemas/src/main/resources/ogc/gsml/4.1/geoSciMLBasic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:gsmlb="http://www.opengis.net/gsml/4.1/GeoSciML-Basic" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://www.opengis.net/gsml/4.1/GeoSciML-Basic" elementFormDefault="qualified" version="4.1.1">
	<annotation>
		<documentation>GeologyBasic is a package of classes representing fundamental geological map features and the relations between them.  GeoSciML describes a geologic dataset as a series of GeologicFeature occurrences, spatially represented as MappedFeature.  A map is a collection of MappedFeatures.  The term 'map', typically understood as a map sheet (a given area on the surface of the earth), is only one possible collection of MappedFeatures.  Other examples are cross-sections, block diagrams, and even borehole logs (a linear map).  MappedFeature can represent any features and GeologicFeatures are one of the kinds of features it can represent.  A MappedFeature identifies what it represents using its 'specification' association.

			OGC GeoSciML 4.1 is an OGC Standard.
			Copyright (c) 2016-2018 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .

			Copyright (c) 2016-2017 IUGS Commission for the Management and Application of Geoscience Information, All rights reserved.
		</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractFeatureRelation" substitutionGroup="gml:AbstractGML" type="gsmlb:AbstractFeatureRelationType">
		<annotation>
			<documentation>Association class placeholder to implement relation between geologic features</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="AbstractFeatureRelationType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
          <element name="relatedFeature" type="gsmlb:GeologicFeaturePropertyType">
						<annotation>
							<documentation>A relatedFeature is a general structure used to define relationships between any features or objects within GeoSciML. Relationships are always binary and directional.  There is always a single source and a single target for a given FeatureRelation (which is abstract in GeoSciML Basic).  The relationship is always defined from the perspective of the Source and is generally an active verb.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractFeatureRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:AbstractFeatureRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="AnthropogenicGeomorphologicFeature" substitutionGroup="gsmlb:GeomorphologicFeature" type="gsmlb:AnthropogenicGeomorphologicFeatureType">
		<annotation>
			<documentation>An anthropogenic geomorphologic feature is a geomorphologic feature (i.e., landform) which has been created by human activity.  For example, a dredged channel, midden, open pit or reclaimed land.</documentation>
		</annotation>
	</element>
	<complexType name="AnthropogenicGeomorphologicFeatureType">
		<complexContent>
			<extension base="gsmlb:GeomorphologicFeatureType">
				<sequence>
          <element minOccurs="0" name="anthropogenicGeomorphologicFeatureType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The anthropogenicGeomorphologicFeatureType: AnthropogenicGeomorphologicFeatureTypeTerm is a reference from a controlled vocabulary describing the type of geomorphologic feature.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:AnthropogenicGeomorphologicFeatureTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AnthropogenicGeomorphologicFeatureTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnthropogenicGeomorphologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:AnthropogenicGeomorphologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="CompositionPart" substitutionGroup="gml:AbstractObject" type="gsmlb:CompositionPartType">
		<annotation>
			<documentation>CompositionPart represents the composition of a geologic unit in terms of earth material constituents (CompoundMaterial).  It decomposes the material making of the unit into parts having distinct roles and proportions.</documentation>
		</annotation>
	</element>
	<complexType name="CompositionPartType">
		<sequence>
      <element minOccurs="0" name="role" nillable="true" type="gml:ReferenceType">
				<annotation>
					<documentation>The property role:CompositionPartRoleTerm defines the relationship of the CompoundMaterial constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent.</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:CompositionPartRoleTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CompositionPartRoleTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element minOccurs="0" name="material" nillable="true">
				<annotation>
					<documentation>The material:EarthMaterial property contains the material description of the composing part.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="gsmlb:CompoundMaterial"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="proportion" nillable="true">
				<annotation>
					<documentation>The proportion property (SWE::QuantityRange) specifies the fraction of the geologic unit composed of the compound material.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:QuantityRange"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CompositionPartPropertyType">
		<sequence>
			<element ref="gsmlb:CompositionPart"/>
		</sequence>
	</complexType>
  <element abstract="true" name="CompoundMaterial" substitutionGroup="gsmlb:EarthMaterial" type="gsmlb:CompoundMaterialType">
		<annotation>
			<documentation>A CompoundMaterial is an EarthMaterial composed of particles made of EarthMaterials, possibly including other CompoundMaterials.  This class is provided primarily as an extensibility point for related domain models that wish to import and build on GeoSciML, and wish to define material types that are compound but are not rock or rock-like material. In the context of GeoSciML "RockMaterial" should be used to describe units made of rock.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="CompoundMaterialType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CompoundMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:CompoundMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Contact" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:ContactType">
		<annotation>
			<documentation>A contact is a general concept representing any kind of surface separating two geologic units, including primary boundaries such as depositional contacts, all kinds of unconformities, intrusive contacts, and gradational contacts, as well as faults that separate geologic units.</documentation>
		</annotation>
	</element>
	<complexType name="ContactType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="contactType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property contactType:ContactTypeTerm classifies the contact (e.g. intrusive, unconformity, bedding surface, lithologic boundary, phase boundary) and is a term from a controlled vocabulary.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:ContactTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ContactTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stContactDescription" nillable="true">
						<annotation>
							<documentation>The property stContactDescription:ContactAbstractDescription provides a detailed contact description.  This is a stub property in GeoSciML Basic since ContactAbstractDescription is an abstract class with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:ContactAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContactPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:Contact"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="ContactAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:ContactAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="ContactAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="ContactAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:ContactAbstractDescription"/>
		</sequence>
	</complexType>
	<simpleType name="DescriptionPurposeType">
		<annotation>
			<documentation>Codes used for the specification of the intended purpose/level of abstraction for a given feature or object instance, ie the reason for the existence of the GeologicFeature. 
Values: instance, typicalNorm, definingNorm.</documentation>
		</annotation>
		<union memberTypes="gsmlb:DescriptionPurposeEnumerationType gsmlb:DescriptionPurposeOtherType"/>
	</simpleType>
	<simpleType name="DescriptionPurposeEnumerationType">
		<annotation>
			<documentation>Codes used for the specification of the intended purpose/level of abstraction for a given feature or object instance, ie the reason for the existence of the GeologicFeature. 
Values: instance, typicalNorm, definingNorm.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="definingNorm">
				<annotation>
					<documentation>A defining norm is a description that specifies properties sufficient to identify a new occurrence as belonging to the class represented by the description. Basically these are the 'sufficient conditions' for class membership. Used when presented with a query 'I have an outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm has to do with the intension of a ControlledConcept.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="instance">
				<annotation>
					<documentation>And instance is a description that is specific to a particular observed occurrence. This is 'raw data', and its classification may start out as very general. There are kinds of narrowly defined ControlledConcepts that might not allow 'instances' that are different from the DefiningNorm. It might be worth considering a different relationship between MappedFeature and an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="typicalNorm">
				<annotation>
					<documentation>A typicalNorm is a description that specifies properties to be expected of some occurrence associated with the GeologicEntity. This description may include many properties that are not part of the DefiningNorm. For example, the fact that granite is typically light-colored is not a defining property, but is certainly a useful typical property. These kinds of descriptions would be used to address queries like 'This area is within a polygon classified as Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?' The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm description would be constructed as a summary over many Instance descriptions.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="DescriptionPurposeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
  <element abstract="true" name="EarthMaterial" substitutionGroup="gml:AbstractGML" type="gsmlb:EarthMaterialType">
		<annotation>
			<documentation>The EarthMaterial class holds a description of a naturally occurring substance in the Earth.  EarthMaterial represents material composition or substance, and is thus independent of quantity or location. Ideally, EarthMaterials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations enter into the description as well.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="EarthMaterialType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="color" nillable="true">
						<annotation>
							<documentation>The color property (SWE::Category) is a term from a controlled vocabulary that specifies the colour of the earth material. Color schemes such as the Munsell rock and soil color schemes may be used.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="purpose" type="gsmlb:DescriptionPurposeType">
						<annotation>
							<documentation>The purpose:DescriptionPurpose property provides a specification of the intended purpose or level of abstraction for the given EarthMaterial. The intent is the same a GeologicFeature's purpose and it shares the same vocabulary (instance, typicalNorm, definingNorm).</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gbEarthMaterialDescription" type="gsmlb:EarthMaterialAbstractDescriptionPropertyType">
						<annotation>
							<documentation>The property gbEarthMaterialDescription:EarthMaterialAbstractDescription provides a detailed earth material description of the part.  This property is a stub in GeoSciML Basic as EarthMaterialAbstractDescription is abstract with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EarthMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:EarthMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="EarthMaterialAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:EarthMaterialAbstractDescriptionType">
		<annotation>
			<documentation>Abstract description class for earth material.  This class is a placeholder for further extension in Extension package</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="EarthMaterialAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="EarthMaterialAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:EarthMaterialAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="Fold" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:FoldType">
		<annotation>
			<documentation>A fold is formed by one or more systematically curved layers, surfaces, or lines in a rock body. A fold denotes a structure formed by the deformation of a geologic structure, such as a contact which the original undeformed geometry is presumed, to form a structure that may be described by the translation of an abstract line (the fold axis) parallel to itself along some curvilinear path (the fold profile). Folds have a hinge zone (zone of maximum curvature along the surface) and limbs (parts of the deformed surface not in the hinge zone).  Folds are described by an axial surface, hinge line, profile geometry, the solid angle between the limbs, and the relationships between adjacent folded surfaces if the folded structure is a Layering fabric.</documentation>
		</annotation>
	</element>
	<complexType name="FoldType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="profileType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property profileType:FoldProfileTypeTerm contains a term from a controlled vocabulary specifying the concave/convex geometry of fold relative to earth surface, and relationship to younging direction in folded strata if known. (e.g., antiform, synform, neutral, anticline, syncline, monocline, ptygmatic).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FoldProfileTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FoldProfileTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stFoldDescription" nillable="true">
						<annotation>
							<documentation>The property stFoldDescription:FoldAbstractDescription provides a detailed fold description.  This is a stub property in GeoSciML Basic since FoldAbstractDescription is an abstract class with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:FoldAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:Fold"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="FoldAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:FoldAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="FoldAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="FoldAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:FoldAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="Foliation" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:FoliationType">
		<annotation>
			<documentation>A foliation is a planar arrangement of textural or structural features in any type of rock.  It includes any of a wide variety of penetrative planar geological structures that may be present in a rock.  Examples include schistosity, mylonitic foliation, penetrative bedding structure (lamination), and cleavage.  Following the proposed definition of gneiss by the NADM Science Language Technical Team, penetrative planar foliation defined by layers &gt; 5 mm thick is considered Layering.</documentation>
		</annotation>
	</element>
	<complexType name="FoliationType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="foliationType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The foliationType:FoliationTypeTerm property specifies the type of foliation from a controlled vocabulary. Examples include crenulation cleavage, slaty cleavage and schistosity.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FoliationTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FoliationTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stFoliationDescription" nillable="true">
						<annotation>
							<documentation>The foliationType:FoliationTypeTerm property specifies the type of foliation from a controlled vocabulary.  Examples include crenulation cleavage, slaty cleavage and schistosity.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:FoliationAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoliationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:Foliation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="FoliationAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:FoliationAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="FoliationAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="FoliationAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:FoliationAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="GSML" substitutionGroup="gml:AbstractFeature" type="gsmlb:GSMLType">
		<annotation>
			<documentation>GSML is a collection class grouping a set of features or types which are members of this collection.  A collectionType property provides context or purpose.</documentation>
		</annotation>
	</element>
	<complexType name="GSMLType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="collectionType" type="gml:ReferenceType">
						<annotation>
							<documentation>The collectionType:CollectionTypeTerm property contains a term from a controlled vocabulary describing the type of collection, such as Geologic Map, Boreholes, 3D models.</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CollectionTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" name="member" type="gsmlb:GSMLitemPropertyType">
						<annotation>
							<documentation>The member property is an association that links a GSML instance to features and objects to be included as members of the collection.  A collection can be made of heterogeneous items.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSMLPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GSML"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GSML_GeometricDescriptionValue" substitutionGroup="gml:AbstractObject" type="gsmlb:GSML_GeometricDescriptionValueType">
		<annotation>
			<documentation>GSML_GeometricDescriptionValue is a special abstract data type for descriptions of planar or linear orientations of a geologic feature.   Different subtypes allow specifying direction by direction vector (e.g. dip/dip direction), compass point (e.g.  NE), or description (e.g. "toward fold hinge", "below').</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GSML_GeometricDescriptionValueType">
		<sequence>
      <element minOccurs="0" name="determinationMethod" nillable="true" type="gml:ReferenceType">
				<annotation>
					<documentation>The determinationMethod:DeterminationMethodTerm property describes the way the orientation value was determined (e.g. measured, inferred from dip slope, etc.) using a reference to a controlled vocabulary.</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:DeterminationMethodTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">DeterminationMethodTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element minOccurs="0" name="descriptiveOrientation" nillable="true">
				<annotation>
					<documentation>The descriptionOrientation:Primitive::CharacterString contains a textual specification of orientation, possibly referencing some local geography (e.g. "toward fold hinge", "below").</documentation>
				</annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="GSML_GeometricDescriptionValuePropertyType">
		<sequence>
			<element ref="gsmlb:GSML_GeometricDescriptionValue"/>
		</sequence>
	</complexType>
  <element name="GSML_LinearOrientation" substitutionGroup="gsmlb:GSML_GeometricDescriptionValue" type="gsmlb:GSML_LinearOrientationType">
		<annotation>
			<documentation>A linear orientation is composed of a trend (the compass orientation of the line) and a plunge (the angle from the horizontal).  This vector may be oriented (pointing in a specific direction) or not.</documentation>
		</annotation>
	</element>
	<complexType name="GSML_LinearOrientationType">
		<complexContent>
			<extension base="gsmlb:GSML_GeometricDescriptionValueType">
				<sequence>
          <element minOccurs="0" name="directed" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The directed:LinearDirectedCode property indicates if the orientation represents a linear feature that is directed, e.g. clast imbrication, mylonitic lineation with sense of shear, slickenlines with displacement direction, rather than undirected (like a fold hinge line or intersection lineations).  A code list will indicate which is the directed end of the linear orientation.  The value of the property comes from a controlled vocabulary.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:LinearDirectedCode</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LinearDirectedCode</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="plunge" nillable="true">
						<annotation>
							<documentation>The property plunge (SWE::QuantityRange) reports the magnitude of the plunge as an angle from horizontal.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="trend" nillable="true">
						<annotation>
							<documentation>The property trend (SWE::QuantityRange) reports the azimuth (compass bearing) value of the linear orientation.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_LinearOrientationPropertyType">
		<sequence>
			<element ref="gsmlb:GSML_LinearOrientation"/>
		</sequence>
	</complexType>
  <element name="GSML_PlanarOrientation" substitutionGroup="gsmlb:GSML_GeometricDescriptionValue" type="gsmlb:GSML_PlanarOrientationType">
		<annotation>
			<documentation>A planar orientation is composed of two values; the azimuth (a compass point) and a dip (the angle from the horizontal). Polarity of the plane indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical, etc.  There are several conventions to encode a planar orientation and this specification does not impose one but provides a convention property to report it. It must be noted that allowance for different conventions makes manipulation of the data more difficult. Therefore it is recommended that user communities adopt a single measurement convention.</documentation>
		</annotation>
	</element>
	<complexType name="GSML_PlanarOrientationType">
		<complexContent>
			<extension base="gsmlb:GSML_GeometricDescriptionValueType">
				<sequence>
          <element minOccurs="0" name="convention" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property convention:ConventionCode contains the convention used for the measurement from a controlled vocabulary.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:ConventionCode</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ConventionCode</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="azimuth" nillable="true">
						<annotation>
							<documentation>The azimuth (SWE::QuantityRange) property (compass point, bearing etc.) contains the value of the orientation. The convention property reports how azimuth is interpreted (if it is relative to a quadrant).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="dip" nillable="true">
						<annotation>
							<documentation>The dip (SWE::QuantityRange) reports the angle that the structural surface (e.g. bedding, fault plane) makes with the horizontal measured perpendicular to the strike of the structure and in the vertical plane as a numeric value or term.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="polarity" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The polarity:PolarityCode indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical etc., using a controlled vocabulary.</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">PlanarPolarityCode</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_PlanarOrientationPropertyType">
		<sequence>
			<element ref="gsmlb:GSML_PlanarOrientation"/>
		</sequence>
	</complexType>
  <element name="GSML_QuantityRange" substitutionGroup="swe:QuantityRange" type="gsmlb:GSML_QuantityRangeType">
		<annotation>
			<documentation>GSML_QuantityRange is a specialization of SWE Common QuantiytyRange (OGC 08-094r1, Clause 7.2.13)  where lower and upper values are made explicit. SWE::QuantityRange uses an array of values (RealPair, see Clause 7.2.1) where the lowest value is the first element and the highest the second.  This convenience data type has been created as an alternative encoding for implementations that do no support encoding of arrays in a single field (e.g. DBF) or reference to elements in string encoded arrays (eg. Filter Encoding Specification 2.0 - OGC 09-029r2).
&amp;nbsp;-------------------------
 SWE RealPair is encoded as space delimited lists (&lt;swe:value&gt;10 300&lt;/swe:value&gt; in XML) , which demands that clients parse the string to extract each token.  To build a WFS/FES query that tests the first element, it requires parsing the string either using string-before(swe:value,' ')  or tokenize(swe:value,' ').  This is cumbersome at best, or not even supported by the server at worst.  09-026r2 Clause 7.4.4 describes the minimal XPath supports and string parsing is not present.</documentation>
		</annotation>
	</element>
	<complexType name="GSML_QuantityRangeType">
		<complexContent>
			<extension base="swe:QuantityRangeType">
				<sequence>
          <element name="lowerValue" type="double">
						<annotation>
							<documentation>The property lowerValue:Real contains the lower bound of the range. It shall be a copy of inherited SWE::QuantityRange::value[0].</documentation>
						</annotation>
					</element>
          <element name="upperValue" type="double">
						<annotation>
							<documentation>The property upperValue:Real contains the upper bound of the range. It shall be a copy of inherited SWE::QuantityRange::value[1].</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_QuantityRangePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GSML_QuantityRange"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GSML_Vector" substitutionGroup="gsmlb:GSML_LinearOrientation" type="gsmlb:GSML_VectorType">
		<annotation>
			<documentation>A GSML_Vector is a data type representing a linear orientation with a magnitude (a quantity assigned to this vector).   If the magnitude is unknown, a GSML_LinearOrientation shall be used.</documentation>
		</annotation>
	</element>
	<complexType name="GSML_VectorType">
		<complexContent>
			<extension base="gsmlb:GSML_LinearOrientationType">
				<sequence>
          <element minOccurs="0" name="magnitude" nillable="true">
						<annotation>
							<documentation>The magnitude property (SWE::QuantityRange) reports the magnitude of the vector.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_VectorPropertyType">
		<sequence>
			<element ref="gsmlb:GSML_Vector"/>
		</sequence>
	</complexType>
	<complexType name="GSMLitemPropertyType">
		<sequence minOccurs="0">
			<group ref="gsmlb:GSMLitem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics" type="gsmlb:GSMLitemUnionSemantics"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="GSMLitemUnionSemantics">
		<restriction base="string">
			<enumeration value="earthMaterialItem"/>
			<enumeration value="featureItem"/>
			<enumeration value="geometryItem"/>
			<enumeration value="mappedItem"/>
			<enumeration value="relationItem"/>
			<enumeration value="samplingFeatureItem"/>
		</restriction>
	</simpleType>
	<group name="GSMLitem">
		<annotation>
			<documentation>GSMLItem constrains the collection members to instances of EarthMaterial, GeologicFeature, GM_Object, MappedFeature, AbstractFeatureRelation and OM::SF_SamplingFeature.</documentation>
		</annotation>
		<choice>
			<element ref="gsmlb:EarthMaterial">
				<annotation>
					<documentation>The earthMaterialItem attribute is a placeholder for the EarthMaterial class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlb:GeologicFeature">
				<annotation>
					<documentation>The featureItem attribute is a placeholder for the GeologicFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gml:AbstractGeometry">
				<annotation>
					<documentation>The geometryItem attribute is a placeholder for the AbstractGeometry class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlb:MappedFeature">
				<annotation>
					<documentation>The mappedItem attribute is a placeholder for the MappedFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlb:AbstractFeatureRelation">
				<annotation>
					<documentation>The relationItem attribute is a placeholder for the FeatureRelation class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="sam:SF_SamplingFeature">
				<annotation>
					<documentation>The samplingFeatureItem attribute is a placeholder for the SamplingFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- end of manual encoding of GSML collection -->
	<element name="GeologicEvent" type="gsmlb:GeologicEventType" substitutionGroup="gsmlb:GeologicFeature"/>
	<annotation>
		<documentation>A GeologicEvent is an identifiable event during which one or more geological processes act to modify geological entities. It may have a specified geologic age (numeric age or GeochologicEraTerm) and may have specified environments and processes. An example might be a cratonic uplift event during which erosion, sedimentation, and volcanism all take place.</documentation>
	</annotation>
	<complexType name="GeologicEventType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="eventProcess" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The eventProcess:EventProcessTerm property provides a term from a controlled vocabulary specifying the process or processes that occurred during the event. Examples include deposition, extrusion, intrusion, cooling.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:EventProcessTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">EventProcessTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="numericAge" nillable="true">
						<annotation>
							<documentation>The numericAge:NumericAgeRange property provides an age in absolute year before present (BP).  Present is defined by convention to be January 1 1950 (although van der Plitch &amp; Hogg , suggests this convention to be restricted to radiocarbon estimations).</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:NumericAgeRange"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
          <element minOccurs="0" name="olderNamedAge" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property olderNamedAge:GeochronologicalEraTerm defines the older boundary of age of an event expressed using a geochronologic era defined according to a geologic time scale as per the GeologicTime schema (eg, the International Commission on Stratigraphy Chronostratigraphic Chart - http://www.stratigraphy.org/index.php/ics-chart-timescale).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeochronologicEraTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeochronologicEraTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="youngerNamedAge" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property youngerNamedAge:GeochronologicalEraTerm defines the younger boundary of age of event expressed using a geochronologic era defined according to a geologic time scale per the GeologicTime schema. (eg, the International Commission on Stratigraphy Chronostratigraphic Chart - http://www.stratigraphy.org/index.php/ics-chart-timescale).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeochronologicEraTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeochronologicEraTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="eventEnvironment" nillable="true">
						<annotation>
							<documentation>The eventEnvironment property (SWE::Category) is a category from a controlled vocabulary identifying the physical setting within which a GeologicEvent takes place. Event environment is construed broadly to include physical settings on the Earth surface specified by climate, tectonics, physiography or geography, and settings in the Earth's interior specified by pressure, temperature, chemical environment, or tectonics.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gaEventDescription" nillable="true">
						<annotation>
							<documentation>The property geEventDescription:GeologicEventAbstractDescription contains a detailed event description.  This is a stub property in GeoSciML Basic since GeologicEventAbstractDescription is abstract and with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:GeologicEventAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicEventPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeologicEventAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:GeologicEventAbstractDescriptionType">
		<annotation>
			<documentation>Stub property class to allow extended event related properties.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeologicEventAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="GeologicEventAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:GeologicEventAbstractDescription"/>
		</sequence>
	</complexType>
  <element abstract="true" name="GeologicFeature" substitutionGroup="gml:AbstractFeature" type="gsmlb:GeologicFeatureType">
		<annotation>
			<documentation>The abstract GeologicFeature class represents a conceptual feature that is hypothesized to exist coherently in the world. It corresponds with a "legend item" from a traditional geologic map and its instance acts as the "description package".  The description package is classified according to its intended purpose as a typicalNorm, definingNorm or instance.  GeologicFeature can be used outside the context of a map (it can lack a MappedFeature), for example when describing typical norms (describing expected property from a feature) or defining norms (describing properties required from a feature to be classifying in a group, such as given geologic unit).  A GeologicFeature appearing on a map is considered as an 'instance'.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeologicFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="observationMethod" nillable="true">
						<annotation>
							<documentation>The GeologicFeature observationMethod (SWE::Category) specifies the approach to acquiring the collection of attribute values that constitute an individual feature instance (e.g. point count, brunton compass on site, air photo interpretation, field observation, hand specimen, laboratory, aerial photography, creative imagination). 
ObservationMethod is a convenience property that provides a simple approach to observation metadata when data are reported using a feature view (as opposed to observation view).  This property corresponds (loosely) to ISO19115 Lineage.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="occurrence" type="gsmlb:MappedFeaturePropertyType">
						<annotation>
							<documentation>The occurrence property is an association that links a notional geologic feature with any number of mapped features (MappedFeature).  A geologic feature, such as a geologic unit may be linked to mapped features from a number of different maps.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="purpose" nillable="true">
						<annotation>
							<documentation>The property purpose:DescriptionPurpose specifies the intended purpose/level of abstraction for a given feature or object instance.  The possible values are: instance, typicalNorm, and definingNorm.</documentation>
						</annotation>
            <complexType>
              <simpleContent>
                <extension base="gsmlb:DescriptionPurposeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedFeature" type="gsmlb:AbstractFeatureRelationPropertyType">
						<annotation>
							<documentation>A relatedFeature is a general structure used to define relationships between any features or objects within GeoSciML. Relationships are always binary and directional.  There is always a single source and a single target for a given FeatureRelation (which is abstract in GeoSciML Basic).  The relationship is always defined from the perspective of the Source and is generally an active verb.</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="classifier" nillable="true">
						<annotation>
							<documentation>The classifier (SWE::Category) contains a standard description or definition of the feature type (e.g., the definition of a particular geologic unit in a stratigraphic lexicon).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="geologicHistory" type="gsmlb:GeologicEventPropertyType">
						<annotation>
							<documentation>The geologicHistory is an association that relates one or more GeologicEvents to a GeologicFeature to describe their age or geologic history.  Normally, GeoSciML uses the generic relatedFeature::GeologicRelation to associate GeologicFeature with other GeologicFeatures, including GeologicEvent.  However, this design was deemed too complex for GeoSciML Basic and is therefore only available from the GeoSciML Extension package.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeologicStructure" substitutionGroup="gsmlb:GeologicFeature" type="gsmlb:GeologicStructureType">
		<annotation>
			<documentation>A geologic structure is a configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an earth material.  The identity of a GeologicStructure is independent of the material that is the substrate for the structure.  The general GeologicFeatureRelation (available in the Extension package) is used to associate penetrative GeologicStructures with GeologicUnits.  GeoSciML Basic only provides a limited set of core structures (Contact, Fold, ShearDisplacementStructure and Foliation) with a single property to categorise them.  Supplemental properties and geologic structure types are available from the Extension package.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeologicStructureType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeologicUnit" substitutionGroup="gsmlb:GeologicFeature" type="gsmlb:GeologicUnitType">
		<annotation>
			<documentation>Conceptually, a GeologicUnit may represent a body of material in the Earth whose complete and precise extent is inferred to exist (e.g., North American Data Model GeologicUnit, Stratigraphic unit in the sense of NACSN, or International Stratigraphic Code ), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium'). It includes both formal units (i.e. formally adopted and named in an official lexicon) and informal units (i.e. named but not promoted to a lexicon) and unnamed units (i.e., recognizable, described and delineable in the field but not otherwise formalised).  In simpler terms, a geologic unit is a package of earth material (generally rock).</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence>
          <element minOccurs="0" name="geologicUnitType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property geologicUnitType:GeologicUnitTypeTerm provides a term from a controlled vocabulary defining the type of geologic unit. Logical constraints of definition of unit and valid property cardinalities should be contained in the definition. Use of the CGI Geologic Unit Type vocabulary (e.g., http://resource.geosciml.org/classifierscheme/cgi/201211/geologicunittype) is recommended.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeologicUnitTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicUnitTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="rank" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property rank:RankTerm contains a term that classifies the geologic unit in a generalization hierarchy from most local/smallest volume to most regional/largest.
Examples: group, subgroup, formation, member, bed, intrusion, complex, batholith</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:RankTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RankTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="composition" nillable="true">
						<annotation>
							<documentation>The property composition is an association that links a GeologicUnit with CompositionParts to describe the material composition of the GeologicUnit (e.g., a detailed, instance specific, lithologic description)</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:CompositionPart"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="hierarchyLink" nillable="true">
						<annotation>
							<documentation>The property hierarchyLink is an association that links a GeologicUnit with a GeologicUnitHierarchy  to represent containment of a part GeologicUnit within another GeologicUnit. It indicates a subsidiary unit with its role and proportion with respect to the container unit.  For example, members are described as part of formations, or different facies can be described as parts of a GeologicUnit.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:GeologicUnitHierarchy"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gbMaterialDescription" nillable="true">
						<annotation>
							<documentation>The property gbMaterialDescription:EarthMaterialAbstractDescription is a placeholder that provides detailed material description.  This is a stub property in GeoSciML Basic as EarthMaterialAbstractDescription is abstract with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:EarthMaterialAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gbUnitDescription" nillable="true">
						<annotation>
							<documentation>The property gbUnitDescription:GeologicUnitAbstractDescriptio is a placeholder that provides detailed material description.  This is a stub property  in GeoSciML Basic as GeologicUnitAbstractDescription is abstract with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:GeologicUnitAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeologicUnitAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:GeologicUnitAbstractDescriptionType">
		<annotation>
			<documentation>Abstract description class for geologic units.  This class is a placeholder for further extension in Extension package</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeologicUnitAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="GeologicUnitAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:GeologicUnitAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="GeologicUnitHierarchy" substitutionGroup="gml:AbstractObject" type="gsmlb:GeologicUnitHierarchyType">
		<annotation>
			<documentation>GeologicUnitHierarchy associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional. Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins').</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitHierarchyType">
		<sequence>
      <element minOccurs="0" name="role" nillable="true" type="gml:ReferenceType">
				<annotation>
					<documentation>The role:GeologicUnitHierarchyRoleTerm property provides a term describing the nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies.</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeologicUnitHierarchyRoleTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicUnitHierarchyRoleTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element minOccurs="0" name="proportion" nillable="true">
				<annotation>
					<documentation>The proportion property (SWE::QuantityRange) provides a quantity that represents the fraction of the geologic unit formed by the part.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:QuantityRange"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element name="targetUnit" type="gsmlb:GeologicUnitPropertyType">
				<annotation>
					<documentation>The property targetUnit is an association that specifies exactly one GeologicUnit that is a proper part of another GeologicUnit.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="GeologicUnitHierarchyPropertyType">
		<sequence>
			<element ref="gsmlb:GeologicUnitHierarchy"/>
		</sequence>
	</complexType>
  <element abstract="true" name="GeomorphologicFeature" substitutionGroup="gsmlb:GeologicFeature" type="gsmlb:GeomorphologicFeatureType">
		<annotation>
			<documentation>A geomorphologic feature is a kind of GeologicFeature describing the shape and nature of the Earth's land surface. These landforms may be created by natural Earth processes (e.g., river channel, beach, moraine or mountain) or through human (anthropogenic) activity (e.g., dredged channel, reclaimed land, mine waste dumps).  In GeoSciML, the geomorphologic feature is modelled as a feature related (through unitDescription property) to a GeologicUnit that composes the form.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeomorphologicFeatureType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="unitDescription" nillable="true" type="gsmlb:GeologicUnitPropertyType">
						<annotation>
							<documentation>The unitDescription property is an association that links the geomorphologic feature to a geologic description (e.g., related stratigraphic units and earth materials).</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gmFeatureDescription" nillable="true">
						<annotation>
							<documentation>The property gmFeatureDescription:GeomorphologicUnitAbstractDescription provides a detailed morphologic description.  This is a stub property in GeoSciML Basic since GeomorphologicUnitAbstractDescription is an abstract class with no concrete subtype in GeoSciML Basic.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:GeomorphologicUnitAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeomorphologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeomorphologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeomorphologicUnitAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:GeomorphologicUnitAbstractDescriptionType">
		<annotation>
			<documentation>Detailed geomorphologic unit description placeholder (stub class) for GeomorphologicUnit</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeomorphologicUnitAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="GeomorphologicUnitAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:GeomorphologicUnitAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="MappedFeature" substitutionGroup="gml:AbstractFeature" type="gsmlb:MappedFeatureType">
		<annotation>
			<documentation>A MappedFeature is part of a geological interpretation. It provides a link between a notional feature (description package) and one spatial representation of it, or part of it (exposures, surface traces and intercepts, etc.).  The mapped features are the elements that compose a map, a cross-section, a borehole log, or any other representation.  The mappingFrame identifies the domain being mapped by the geometries.  For typical geological maps, the mapping frame is the surface of the earth (the 2.5D interface between the surface of the bedrock and whatever sits on it; atmosphere or overburden material for bedrock maps).  It can also be abstract frames, such as the arbitrary plane that forms a mine level or a cross-section, the 3D volume enclosing an ore body or the line that approximate the path of a borehole.</documentation>
		</annotation>
	</element>
	<complexType name="MappedFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="observationMethod" nillable="true">
						<annotation>
							<documentation>The observationMethod property (SWE::Category) contains an element in a list of categories (a controlled vocabulary) describing how the spatial extent of the mapped feature was determined.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="positionalAccuracy" nillable="true">
						<annotation>
							<documentation>The positionalAccuracy property (SWE::Quantity) provides a quantitative value defining the radius of an uncertainty buffer around a MappedFeature (e.g., a positionalAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line). The property is equivalent to ISO19115 DQ_PositionalAccuracy.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Quantity"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="resolutionRepresentativeFraction" nillable="true">
						<annotation>
							<documentation>The property resolutionRepresentativeFraction:Integer is an integer value representing the denominator of the representative scale of the spatial feature.  (i.e., 10000 = the spatial feature is intended to be represented at 1:10,000 scale).</documentation>
						</annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
					</element>
          <element minOccurs="0" name="mappingFrame" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The mappingFrame:MappingFrameTerm provides a term from a vocabulary indicating the geometric frame on which the MappedFeature is projected.  In most situations, mapped features are projected on the earth surface, but there are other contexts, such as a bedrock surface beneath surficial cover materials, a mine level, or a cross section.</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">MappingFrameTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="exposure" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The exposure:ExposureTerm property provides a term for the nature of the expression of the mapped feature at the earth's surface (e.g., exposed, concealed).</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ExposureTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="specification" type="gml:FeaturePropertyType">
						<annotation>
							<documentation>The specification association links an instance of MappedFeature to the GFI_Feature being mapped. In a geological map, MappedFeatures are used to represent GeologicFeatures, but other features from other domains could be represented.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">null:GFI_Feature</targetElement>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="shape" nillable="true" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>The shape:GM_Object property contains the geometry delimiting the mapped feature.  Note that while in most cases, the geometry will be a 2D polygon, it is not restricted to any dimension.  For instance, a lithological log can be represented using of 1D geometries (expressed linearly from the borehole origin), or a geologic unit can be represented using a 3D volume.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MappedFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:MappedFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="NaturalGeomorphologicFeature" substitutionGroup="gsmlb:GeomorphologicFeature" type="gsmlb:NaturalGeomorphologicFeatureType">
		<annotation>
			<documentation>A natural geomorphologic feature is a geomorphologic feature (i.e., landform) that has been created by natural Earth processes. For example, river channel, beach ridge, caldera, canyon, moraine or mud flat.</documentation>
		</annotation>
	</element>
	<complexType name="NaturalGeomorphologicFeatureType">
		<complexContent>
			<extension base="gsmlb:GeomorphologicFeatureType">
				<sequence>
          <element minOccurs="0" name="naturalGeomorphologicFeatureType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property naturalGeomorphologicFeatureType: NaturalGeomorphologicFeatureTypeTerm is a reference from a controlled vocabulary describing the type of geomorphologic feature.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:NaturalGeomorphologicFeatureTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NaturalGeomorphologicFeatureTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="activity" nillable="true">
						<annotation>
							<documentation>The activity property (SWE::Category) contains a category term from a controlled vocabulary describing the current activity status of the geomorphologic feature (e.g., currently active, dormant, inactive, reactivated, etc.).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NaturalGeomorphologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:NaturalGeomorphologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="NumericAgeRange" substitutionGroup="gml:AbstractObject" type="gsmlb:NumericAgeRangeType">
		<annotation>
			<documentation>The NumericAgeRange class represents an absolute age assignment using numeric measurement results.</documentation>
		</annotation>
	</element>
	<complexType name="NumericAgeRangeType">
		<sequence>
      <element minOccurs="0" name="reportingDate">
				<annotation>
					<documentation>The reportingDate (SWE::Quantity) property reports a single time coordinate value to report as representative for this NumericAge assignment.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Quantity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="olderBoundDate" nillable="true">
				<annotation>
					<documentation>The olderBoundDate (SWE::Quantity) property reports the older bounding time coordinate in an age range.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Quantity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="youngerBoundDate" nillable="true">
				<annotation>
					<documentation>The youngerBoundDate (SWE::Quantity) property reports the younger bounding time coordinate in an age range.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Quantity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="NumericAgeRangePropertyType">
		<sequence>
			<element ref="gsmlb:NumericAgeRange"/>
		</sequence>
	</complexType>
  <element name="RockMaterial" substitutionGroup="gsmlb:CompoundMaterial" type="gsmlb:RockMaterialType">
		<annotation>
			<documentation>RockMaterial is a specialized CompoundMaterial that includes consolidated and unconsolidated materials (such as surficial sediments) as well as mixtures of consolidated and unconsolidated materials.  In GeoSciML Basic, Rock Material is essentially a link to a controlled vocabulary (lithology property) and a color (inherited from EarthMaterial).  Specific material properties (and CompoundMaterial nesting) are available in GeoSciML Extension.</documentation>
		</annotation>
	</element>
	<complexType name="RockMaterialType">
		<complexContent>
			<extension base="gsmlb:CompoundMaterialType">
				<sequence>
          <element minOccurs="0" name="lithology" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The lithology:LithologyTerm property provides a term identifying the lithology class from a controlled vocabulary.</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LithologyTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RockMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:RockMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="ShearDisplacementStructure" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:ShearDisplacementStructureType">
		<annotation>
			<documentation>A shear displacement structure includes all brittle to ductile style structures along which displacement has occurred, from a simple, single 'planar' brittle or ductile surface to a fault system comprised of tens of strands of both brittle and ductile nature. This structure may have some significant thickness (a deformation zone) and have an associated body of deformed rock that may be considered a deformation unit (which geologicUnitType is 'DeformationUnit') which can be associated to the ShearDisplacementStructure using GeologicFeatureRelation from the GeoSciML Extension package</documentation>
		</annotation>
	</element>
	<complexType name="ShearDisplacementStructureType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="faultType" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The faultType:FaultTypeTerm property contains a term from a controlled vocabulary describing the type of shear displacement structure (e.g., thrust fault, normal fault or wrench fault).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FaultTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FaultTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="stStructureDescription" nillable="true">
						<annotation>
							<documentation>The property stStructureDescription:ShearDisplacementStructureAbstractDescription provides a detailed geologic structure description.  This is a stub property in GeoSciML Basic since ShearDisplacementStructureAbstractDescription is an abstract class with subtypes defined in GeoSciML Extension.</documentation>
						</annotation>
            <complexType>
              <sequence>
                <element ref="gsmlb:ShearDisplacementStructureAbstractDescription"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShearDisplacementStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:ShearDisplacementStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="ShearDisplacementStructureAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:ShearDisplacementStructureAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="ShearDisplacementStructureAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="ShearDisplacementStructureAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:ShearDisplacementStructureAbstractDescription"/>
		</sequence>
	</complexType>
</schema>
