schemas/src/main/resources/ogc/cat/csw/3.0/wsdl/soap-binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by Uwe Voges (con terra GmbH) -->
<wsdl:definitions xmlns:csw30-wsdl="http://www.opengis.net/cat/csw/3.0/wsdl"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   targetNamespace="http://www.opengis.net/cat/csw/3.0/wsdl">
   <wsdl:import namespace="http://www.opengis.net/cat/csw/3.0/wsdl"
      location="./xml-interfaces.wsdl"/>
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:date>2012-11-26</dc:date>
      <dc:description>Adds SOAP (over HTTP) protocol bindings for CSW 3.0 interfaces.</dc:description>
   </wsdl:documentation>
   <wsdl:binding name="csw30-Discovery-SOAP" type="csw30-wsdl:cswDiscovery">
      <soap12:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:documentation>CSW discovery interface bound to SOAP over HTTP/1.1.</wsdl:documentation>
      <wsdl:operation name="cswGetCapabilities">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#GetCapabilities"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cswGetRecords">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#GetRecords"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cswGetRecordById">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#GetRecordById"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cswGetDomain">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#GetDomain"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="csw30-Transaction-SOAP" type="csw30-wsdl:cswTransaction">
      <soap12:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:documentation>CSW transaction interface bound to SOAP over HTTP/1.1.</wsdl:documentation>
      <wsdl:operation name="cswHarvest">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#Harvest"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   <wsdl:operation name="cswUnHarvest">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#UnHarvest"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>     
      <wsdl:operation name="cswTransaction">
         <soap12:operation
            soapAction="http://www.opengis.net/cat/csw/3.0/requests#Transaction"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap12:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
