schemas/src/main/resources/ogc/infragml/part6/1.0/sampling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (x64) (http://www.altova.com) by HC (Leica Geosystems) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:li="http://www.opengis.net/infragml/core/1.0" xmlns:lis="http://www.opengis.net/infragml/survey/1.0" xmlns:liso="http://www.opengis.net/infragml/observations/1.0" xmlns:liss="http://www.opengis.net/infragml/sampling/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.opengis.net/infragml/sampling/1.0" elementFormDefault="qualified" version="1.0.0">
	<annotation>
		<documentation>
			InfraGML is an OGC Standard. 
			Copyright (c) 2017  Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
		</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/infragml/core/1.0" schemaLocation="http://schemas.opengis.net/infragml/part0/1.0/core.xsd"/>
	<import namespace="http://www.opengis.net/infragml/survey/1.0" schemaLocation="http://schemas.opengis.net/infragml/part6/1.0/survey.xsd"/>
	<import namespace="http://www.opengis.net/infragml/observations/1.0" schemaLocation="http://schemas.opengis.net/infragml/part6/1.0/observations.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/
		Modified by Hans-Christoph Gruler(Leica Geosystems AG) February 28, 2017
-->
	<!--                                                                                                                         	-->
	<!--    SamplingFeature                                                                                               -->
	<!--                                                                                                                         	-->
	<element name="SamplingFeature" type="liss:SamplingFeatureType" substitutionGroup="li:Feature"/>
	<complexType name="SamplingFeatureType">
		<annotation>
			<documentation>A "SamplingFeature" is a feature used primarily for taking
				observations.</documentation>
		</annotation>
		<complexContent>
			<extension base="li:FeatureType">
				<sequence>
					<element name="type" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<documentation>If present, the sub-element 'type' shall indicate the class of
								spatial sampling feature. A register of type identifiers corresponding with
								the sampling feature types in ISO 19156 is provided by OGC at
								http://www.opengis.net/def/samplingFeatureType/OGC-OM/2.0/ </documentation>
						</annotation>
					</element>
					<element name="sampledFeature" block="#all" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation> A sampling feature is established in order to make observations
								concerning some domain feature. The association Intention shall link the
								SamplingFeature to the feature which the sampling feature was designed to
								sample. The target of this association has the role sampledFeature with
								respect to the sampling feature, and shall not be a sampling feature. It is
								usually a real-world feature from an application domain (OM_Sampling Figures 5 and 10).
							</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="li:Feature"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="lineage" type="gmd:LI_Lineage_PropertyType" minOccurs="0">
						<annotation>
							<documentation> If present, the attribute lineage:LI_Lineage shall describe the
							history and provenance of the SamplingFeature. This might include
							information relating to the handling of the specimen, or details of the
							survey procedure of a spatial sampling feature. </documentation>
						</annotation>
					</element>
					<element name="relatedObservation" type="liso:SurveyObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation> Sampling features are distinctive compared with other features
								from application domains by having navigable associations to observations.
								If present, the association Design shall link the SamplingFeature to an
								Observation that was made utilizing the sampling feature, and the
								description of the sampling feature provides an intrinsic element of the
								observation protocol, along with the observation procedure (6.2.2.10) and
								the decomposition of the domain geometry in the case of a coverage-valued
								result (7.3.1). The Observation has the role relatedObservation with
								respect to the sampling feature. Multiple observations may be made on a
								single sampling feature. </documentation>
						</annotation>
					</element>
					<element name="relatedSamplingFeature" type="liss:SamplingFeatureComplexPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation> Sampling features are frequently related to each other, as parts
								of complexes, through sub-sampling, and in other ways. If present, the
								association class SamplingFeatureComplex (Figure 9) shall link a
								SamplingFeature to another SamplingFeature. </documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SamplingFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="liss:SamplingFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!--                                                                                                                         	-->
	<!--    SamplingFeatureComplex                                                                                  -->
	<!--                                                                                                                         	-->
	<element name="SamplingFeatureComplex" type="liss:SamplingFeatureComplexType"/>
	<complexType name="SamplingFeatureComplexType">
		<annotation>
			<documentation>A "SamplingFeatureRelation" is used to describe relationships between
				sampling features, including part-whole, siblings, etc.</documentation>
		</annotation>
		<sequence>
			<element name="role" type="gml:ReferenceType"/>
			<element name="relatedSamplingFeature" type="liss:SamplingFeaturePropertyType"/>
		</sequence>
	</complexType>
	<complexType name="SamplingFeatureComplexPropertyType">
		<sequence>
			<element ref="liss:SamplingFeatureComplex"/>
		</sequence>
	</complexType>
	<!--                                                                                                                         	-->
	<!--    SamplingFeatureCollection                                                                                -->
	<!--                                                                                                                         	-->
	<element name="SamplingFeatureCollection" type="liss:SamplingFeatureCollectionType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="SamplingFeatureCollectionType">
		<annotation>
			<documentation> The class SamplingFeatureCollection (OM_Sampling Figure 9) is an instance of the
				«metaclass» GF_FeatureType (ISO 19109:2005), which therefore represents a feature
				type. SamplingFeatureCollection shall support one association. </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="member" type="liss:SamplingFeaturePropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>The association Collection shall link a
								SamplingFeatureCollection to member SamplingFeatures.
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SamplingFeatureCollectionPropertyType">
		<sequence minOccurs="0">
			<element ref="liss:SamplingFeatureCollection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
</schema>
