schemas/src/main/resources/ogc/eop/1.0/eop.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:eop="http://earth.esa.int/eop" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://earth.esa.int/eop" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2">
	<xs:annotation>
		<xs:documentation>Earth Observation Products application base schema which other products, OPT, ATM etc., extend.

			EOP is an OGC Standard.
			Copyright (c) 2011 Open Geospatial Consortium, Inc. All Rights Reserved.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd"/>
	<xs:element name="EarthObservation" type="eop:EarthObservationType" substitutionGroup="gml:Observation">
		<xs:annotation>
			<xs:documentation>eop root element for generic Earth Observation Product description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EarthObservationType" mixed="false">
		<xs:annotation>
			<xs:documentation>Earth Obervation Product description</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="gml:ObservationType">
				<xs:attribute name="version" type="xs:string" use="required" fixed="1.2.1">
					<xs:annotation>
						<xs:documentation>Reference to the schema version number used to validate the instance</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EarthObservationPropertyType">
		<xs:sequence>
			<xs:element ref="eop:EarthObservation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EarthObservationEquipment" type="eop:EarthObservationEquipmentType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="EarthObservationEquipmentType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="platform" type="eop:PlatformPropertyType" minOccurs="0"/>
					<xs:element name="instrument" type="eop:InstrumentPropertyType" minOccurs="0"/>
					<xs:element name="sensor" type="eop:SensorPropertyType" minOccurs="0"/>
					<xs:element name="acquisitionParameters" type="eop:AcquisitionPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EarthObservationEquipmentPropertyType">
		<xs:sequence>
			<xs:element ref="eop:EarthObservationEquipment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="type" type="xs:QName"/>
	<xs:element name="ArchivingInformation" type="eop:ArchivingInformationType"/>
	<xs:complexType name="ArchivingInformationArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:ArchivingInformation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArchivingInformationType">
		<xs:sequence>
			<xs:element name="archivingCenter" type="gml:CodeListType">
				<xs:annotation>
					<xs:documentation>Archiving centre code. Possible values are mission specific
and should be retrieved using codespace.
	
PHR : value is a valid station code
eop/EOLI : N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="archivingDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Archiving date time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="archivingIdentifier" type="eop:CodeWithAuthorityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Local archiving id as created by the mission ground segment that may required to allow subsequent order processing</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DownlinkInformation" type="eop:DownlinkInformationType"/>
	<xs:complexType name="DownlinkInformationArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:DownlinkInformation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DownlinkInformationType">
		<xs:sequence>
			<xs:element name="acquisitionStation" type="gml:CodeListType">
				<xs:annotation>
					<xs:documentation>Acquisition / receiving station code. Possible values are mission specific and should be retrieved using codespace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acquisitionDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acquisition date time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EarthObservationMetaData" type="eop:EarthObservationMetaDataType" substitutionGroup="gml:_MetaData"/>
	<xs:complexType name="EarthObservationMetaDataType" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="gml:AbstractMetaDataType">
				<xs:sequence>
					<xs:element ref="eop:identifier"/>
					<xs:element ref="eop:doi" minOccurs="0"/>
					<xs:element ref="eop:parentIdentifier" minOccurs="0"/>
					<xs:element ref="eop:acquisitionType"/>
					<xs:element ref="eop:acquisitionSubType" minOccurs="0"/>
					<xs:element ref="eop:productType"/>
					<xs:element ref="eop:status"/>
					<xs:element name="downlinkedTo" type="eop:DownlinkInformationArrayPropertyType" minOccurs="0"/>
					<xs:element name="archivedIn" type="eop:ArchivingInformationArrayPropertyType" minOccurs="0"/>
					<xs:element ref="eop:imageQualityDegradation" minOccurs="0"/>
					<xs:element ref="eop:imageQualityDegradationQuotationMode" minOccurs="0"/>
					<xs:element ref="eop:histograms" minOccurs="0"/>
					<xs:element ref="eop:composedOf" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="eop:subsetOf" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="eop:linkedWith" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="processing" type="eop:ProcessingInformationPropertyType" minOccurs="0"/>
					<xs:element name="vendorSpecific" type="eop:SpecificInformationArrayPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Acquisition" type="eop:AcquisitionType"/>
	<xs:complexType name="AcquisitionPropertyType">
		<xs:sequence>
			<xs:element ref="eop:Acquisition"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcquisitionType">
		<xs:sequence>
			<xs:element name="orbitNumber" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EOLI : orbit (F B b s)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastOrbitNumber" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EOLI : lastOrbit (F)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orbitDirection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EOLI : orbitDir (F B b s)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ASCENDING"/>
						<xs:enumeration value="DESCENDING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="wrsLongitudeGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Neutral wrsLongitudeGrid to replace track in track/frame,  K in K/J, etc. The optional attribute "eop:codeSpace" is used to point the reference grid.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anySimpleType">
							<xs:attribute name="codeSpace" type="xs:anyURI"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="wrsLatitudeGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Neutral wrsLatitudeGrid to replace frame in track/frame,  J in K/J, etc. The optional attribute "codeSpace" is used to point the reference grid.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anySimpleType">
							<xs:attribute name="codeSpace" type="xs:anyURI"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ascendingNodeDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UTC date and time at ascending node of orbit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ascendingNodeLongitude" type="gml:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Longitude at ascending node of orbit. should be expressed in degrees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startTimeFromAscendingNode" type="gml:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start time of acquisition in milliseconds from Ascending node date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="completionTimeFromAscendingNode" type="gml:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Completion time of acquisition in milliseconds from Ascending node date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orbitDuration" type="gml:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Actual orbit duration in milliseconds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acrossTrackIncidenceAngle" type="gml:AngleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Across Track Incidence angle given in degrees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alongTrackIncidenceAngle" type="gml:AngleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Along Track Incidence angle given in degrees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="incidenceAngle" type="gml:AngleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Global Incidence angle given in degrees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pitch" type="gml:AngleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pitch angle given in degrees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="roll" type="gml:AngleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Roll angle given in degrees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yaw" type="gml:AngleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Yaw angle given in degrees.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlatformPropertyType">
		<xs:sequence>
			<xs:element ref="eop:Platform"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstrumentPropertyType">
		<xs:sequence>
			<xs:element ref="eop:Instrument"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SensorPropertyType">
		<xs:sequence>
			<xs:element ref="eop:Sensor"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Platform" type="eop:PlatformType"/>
	<xs:complexType name="PlatformType">
		<xs:sequence>
			<xs:element name="shortName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Platform short name (eg. PHR) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serialIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Platform serial identifier (eg. for PHR : 1A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orbitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>High level characterisation of main mission types (GEO/LEO)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="GEO"/>
						<xs:enumeration value="LEO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Instrument" type="eop:InstrumentType"/>
	<xs:complexType name="InstrumentType">
		<xs:sequence>
			<xs:element name="shortName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Instrument short name

EOLI : instShNm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Sensor" type="eop:SensorType"/>
	<xs:complexType name="SensorType">
		<xs:sequence>
			<xs:element name="sensorType" type="eop:SensorTypePropertyType" minOccurs="0"/>
			<xs:element name="operationalMode" type="gml:CodeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sensor mode. Possible values are mission specific and should
be retrieved using codespace. (eg. PHR : PA, XS or PX).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resolution" type="gml:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Image resolution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swathIdentifier" type="gml:CodeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Swath identifier (e.g. Envisat ASAR has 7 distinct swaths (I1,I2,I3...I7) that correspond to precise incidence angles for the sensor). Value list can be retrieved with codeSpace.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SensorTypePropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALTIMETRIC"/>
			<xs:enumeration value="ATMOSPHERIC"/>
			<xs:enumeration value="OPTICAL"/>
			<xs:enumeration value="RADAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="EarthObservationResult" type="eop:EarthObservationResultType" substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>Defines the observation result, i.e. the Earth Observation Product</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EarthObservationResultType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="browse" type="eop:BrowseInformationArrayPropertyType" minOccurs="0"/>
					<xs:element name="product" type="eop:ProductInformationArrayPropertyType" minOccurs="0"/>
					<xs:element name="mask" type="eop:MaskInformationArrayPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EarthObservationResultPropertyType">
		<xs:sequence>
			<xs:element ref="eop:EarthObservationResult"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Footprint" type="eop:FootprintType" substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>Defines the acquisition footprint, i.e. the region observed by the Instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FootprintType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gml:multiExtentOf">
						<xs:annotation>
							<xs:documentation>Acquisition footprint coordinates, described by a closed polygon (last point=first point), using CRS:WGS84, Latitude,Longitude pairs (per-WGS84 definition of point ordering, not necessarily per all WFS implementations). Expected structure is gml:Polygon/gml:exterior/gml:LinearRing/gml:posList.

eop/EOLI : polygon/coordinates (F B b s)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:centerOf" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Acquisition center coordinates.  Expected structure is gml:Point/gml:pos.

eop/EOLI : scCenter/coordinates (F B b s)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BrowseInformationArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:BrowseInformation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BrowseInformation" type="eop:BrowseInformationType"/>
	<xs:complexType name="BrowseInformationType">
		<xs:sequence>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>Browse type. Possible values are : THUMBNAIL, QUICKLOOK and ALBUM. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="THUMBNAIL"/>
						<xs:enumeration value="QUICKLOOK"/>
						<xs:enumeration value="ALBUM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subType" type="gml:CodeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value is mission specific. Value list can be retrieved with codeSpace. Not used by PHR. For MODIS : OPTICAL, THERMAL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceSystemIdentifier" type="eop:CodeWithAuthorityType">
				<xs:annotation>
					<xs:documentation>Indicates if browse is geo-referenced, and thus can be assumed to be displayed directly on a map (in which case should point to a code space for the CRS), when not supplied it is assumed that the browse is provided in "raw" satellite frame of reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Path to the browse image (could be any kind of URL : 
direct link to the image or WMS/WCS interface), it is assumed that if a client is prepared to "manage" a browse delivered by e.g. WMS they would parse the URL to identify that it contains the OGC standard SERVICE=WMS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductInformationArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:ProductInformation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductInformation" type="eop:ProductInformationType"/>
	<xs:complexType name="ProductInformationType">
		<xs:sequence>
			<xs:element name="referenceSystemIdentifier" type="eop:CodeWithAuthorityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if product is geo-referenced, (in which case should point to a code space for the CRS), when not supplied it is assumed that the browse is provided in "raw" satellite frame of reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Path to the actual product data if available online (could be any kind of URL : 
direct link to the image or WMS/WCS interface), it is assumed that if a client is prepared to "manage" a product delivered by e.g. WCS they would parse the URL to identify that it contains the OGC standard SERVICE=WCS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Product version</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="size" type="gml:MeasureListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Product size (bytes) allowing the user to realise how long a download is likely to take</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingInformationPropertyType">
		<xs:sequence>
			<xs:element ref="eop:ProcessingInformation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProcessingInformation" type="eop:ProcessingInformationType"/>
	<xs:complexType name="ProcessingInformationType">
		<xs:sequence>
			<xs:element name="processingCenter" type="gml:CodeListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Processing centre code. Possible values are mission specific
and should be retrieved using codespace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processingDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Processing date time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compositeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Composite type of product, if available</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DAILY"/>
						<xs:enumeration value="WEEKLY"/>
						<xs:enumeration value="MONTHLY"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="method" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method used to compute datalayer. (e.g. Kalman filtering, ROSE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="methodVersion" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method version (e.g. 1.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processorName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Processor sofware name (e.g. FastROSE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processorVersion" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Processor software version (e.g. 1.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processingLevel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Processing level applied to the product</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1A"/>
						<xs:enumeration value="1B"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nativeProductFormat" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Native product format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="histograms" type="eop:HistogramArrayPropertyType"/>
	<xs:element name="Histogram" type="eop:HistogramType" substitutionGroup="gml:_Object"/>
	<xs:complexType name="HistogramArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:Histogram" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HistogramType">
		<xs:sequence>
			<xs:element name="bandId" type="xs:string" minOccurs="0"/>
			<xs:element name="min" type="xs:int"/>
			<xs:element name="max" type="xs:int"/>
			<xs:element name="mean" type="xs:double" minOccurs="0"/>
			<xs:element name="stdDeviation" type="xs:double" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaskInformationArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:MaskInformation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MaskInformation" type="eop:MaskInformationType"/>
	<xs:complexType name="MaskInformationType">
		<xs:sequence>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>Mask type. Possible values are : SNOW, CLOUD and QUALITY</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SNOW"/>
						<xs:enumeration value="CLOUD"/>
						<xs:enumeration value="QUALITY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="format">
				<xs:annotation>
					<xs:documentation>Mask format. Possible values are : RASTER or VECTOR</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RASTER"/>
						<xs:enumeration value="VECTOR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="referenceSystemIdentifier" type="eop:CodeWithAuthorityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if mask is geo-referenced, and thus can be assumed to be displayed directly on a map (in which case should point to a code space for the CRS), when not supplied it is assumed that the mask is provided in "raw" satellite frame of reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Path to the mask (could be any kind of URL : 
direct link to the image or WMS/WCS interface in case of RASTER mask; direct link to the file or WFS interface in case of VECTOR file), it is assumed that if a client is prepared to "manage" a mask delivered by e.g. WMS they would parse the URL to identify that it contains the OGC standard SERVICE=WMS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Mask" type="eop:MaskType" substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>Mask defined as a feature collection (in the GML 3.2 sense : a feature collection is a feature having a property derived by extension from gml:AbstractFeatureMemberType). Mandates the following optional gml properties inherited from gml:_Feature :
- gml:id attribute
- gml:name
- gml:boundedBy

Note : the upcoming gml:identifier will replace eop:identifier in GML 3.2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MaskType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="eop:maskMembers"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="maskMembers" type="eop:MaskMembersPropertyType"/>
	<xs:complexType name="MaskMembersPropertyType">
		<xs:sequence>
			<xs:element ref="eop:MaskFeature" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MaskFeature" type="eop:MaskFeatureType" substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>Mask member : . Mandates the following optional gml properties inherited from gml:_Feature :
- gml:id attribute
- gml:name
- gml:boundedBy

Note : the upcoming gml:identifier will replace eop:identifier in GML 3.2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MaskFeatureType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="maskType" type="eop:CodeWithAuthorityType">
						<xs:annotation>
							<xs:documentation>Mask type. Value list can be retrieved with codeSpace</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="gml:extentOf">
						<xs:annotation>
							<xs:documentation>Mask member extent. Expected structure is gml:Polygon/gml:exterior/gml:LinearRing/gml:posList with 0 to n gml:Polygon/gml:interior/gml:LinearRing/gml:posList elements representing the holes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SpecificInformation" type="eop:SpecificInformationType"/>
	<xs:complexType name="SpecificInformationArrayPropertyType">
		<xs:sequence>
			<xs:element ref="eop:SpecificInformation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecificInformationType">
		<xs:sequence>
			<xs:element name="localAttribute" type="xs:string">
				<xs:annotation>
					<xs:documentation>Container for ad-hoc metadata that does not merit a mission specific schema or extension, the localAttribute describes the name of the attribute</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localValue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Container for ad-hoc metadata that does not merit a mission specific schema or extension, the localAttribute describes the value of the attribute</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="identifier">
		<xs:annotation>
			<xs:documentation>Identifier for metadata item, includes ground segment codespace to guarantee uniqueness within eop : 
urn:eop:GS:CollectionId:ProductId</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="doi">
		<xs:annotation>
			<xs:documentation>Digital Object Identifier identifying the product</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="parentIdentifier">
		<xs:annotation>
			<xs:documentation>Collection identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="status">
		<xs:annotation>
			<xs:documentation>Refers to product status. PHR : always "ACQUIRED"</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ACQUIRED"/>
				<xs:enumeration value="ARCHIVED"/>
				<xs:enumeration value="CANCELLED"/>
				<xs:enumeration value="FAILED"/>
				<xs:enumeration value="PLANNED"/>
				<xs:enumeration value="POTENTIAL"/>
				<xs:enumeration value="REJECTED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="statusDetail" type="xs:string">
		<xs:annotation>
			<xs:documentation>This field refers to the eop:status value. It should be used to motivate the reason of a failure deletion or rejection</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="acquisitionType">
		<xs:annotation>
			<xs:documentation>Used to distinguish at a high level the appropriateness of the acquisition for "general" use, whether the product is a nominal acquisition, special calibration product or other. Values:
      - NOMINAL
      - CALIBRATION
      - OTHER
      
More specific information (i.e. platform and sensor specific values) are expressed within the imageSubType tag.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NOMINAL"/>
				<xs:enumeration value="CALIBRATION"/>
				<xs:enumeration value="OTHER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acquisitionSubType" type="gml:CodeListType">
		<xs:annotation>
			<xs:documentation>The mission specific type definition should refer to mission/ground segment dedicated codeSpace.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Describes product type in case that mixed types are available within a single collection. This is ground segment specific definition</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="imageQualityDegradation" type="gml:MeasureType">
		<xs:annotation>
			<xs:documentation>Must be expressed in percents. EOLI N/A (attTypes/attName ?)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="imageQualityDegradationQuotationMode">
		<xs:annotation>
			<xs:documentation>Indicator to know how the quality quotation has been calculated.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="AUTOMATIC"/>
				<xs:pattern value="MANUAL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="composedOf" type="eop:EarthObservationPropertyType"/>
	<xs:element name="subsetOf" type="eop:EarthObservationPropertyType"/>
	<xs:element name="linkedWith" type="eop:EarthObservationPropertyType"/>
	<xs:complexType name="CodeWithAuthorityType">
		<xs:annotation>
			<xs:documentation>From GML 3.2 draft</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
