schemas/src/main/resources-original/ogc/gsml/4.1/laboratoryAnalysis-Specimen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Eric Boisvert (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:gsmlb="http://www.opengis.net/gsml/4.1/GeoSciML-Basic" xmlns:gsmlla="http://www.opengis.net/gsml/4.1/LaboratoryAnalysis-Specimen" xmlns:mrl="http://standards.iso.org/iso/19115/-3/mrl/1.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:spec="http://www.opengis.net/samplingSpecimen/2.0" targetNamespace="http://www.opengis.net/gsml/4.1/LaboratoryAnalysis-Specimen" elementFormDefault="qualified" version="4.1.1">
	<annotation>
		<documentation>The LaboratoryAnalysis-Specimen application model extends the ISO19156 model for Observations, Measurements and Sampling.  It specifically describes processes and results related to the analysis of (geological) samples using instruments, commonly in a laboratory environment. The design of this package is also informed by the MOLES v3 data model.

			OGC GeoSciML 4.1 is an OGC Standard.
			Copyright (c) 2016-2017 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .

			Copyright (c) 2016-2017 IUGS Commission for the Management and Application of Geoscience Information, All rights reserved.

		</documentation>
	</annotation>
	<import namespace="http://standards.iso.org/iso/19115/-3/cit/1.0" schemaLocation="http://standards.iso.org/iso/19115/-3/cit/1.0/cit.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpecimen/2.0" schemaLocation="http://schemas.opengis.net/samplingSpecimen/2.0/specimen.xsd"/>
	<import namespace="http://www.opengis.net/gsml/4.1/GeoSciML-Basic" schemaLocation="geoSciMLBasic.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AnalyticalInstrument" substitutionGroup="gml:AbstractFeature" type="gsmlla:AnalyticalInstrumentType">
		<annotation>
			<documentation>The analytical instrument is the category of instrument used to perform an analytical measurement or observation.</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalInstrumentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="type" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property type:InstrumentTypeTerm reports a term from a controlled vocabulary that describes the category of instrument used in an analytical session (e.g., XRF, ICPMS, SHRIMP, etc.).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:InstrumentTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">InstrumentTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="model" nillable="true">
						<annotation>
							<documentation>The property mode:Primitive::CharacterString contains a string identifying the model of instrument used. (e.g., instrument type = XRD, model = Siemens Diffraktometer D500).</documentation>
						</annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
					</element>
          <element minOccurs="0" name="serialNumber" nillable="true">
						<annotation>
							<documentation>The property serialNumber:Primitive::CharacterString contains a string that contains the serial number of the machine used in an analytical session.</documentation>
						</annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
					</element>
          <element minOccurs="0" name="commissionDate" nillable="true" type="gml:TimeInstantPropertyType">
						<annotation>
							<documentation>The property commissionDate is an association between an AnalyticalInstrument and a TM_Instant corresponding to the date of the commissioning of an instrument.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="location" nillable="true" type="cit:CI_Responsibility_PropertyType">
						<annotation>
							<documentation>The property location is an association between an AnalyticalInstrument and a CIT:Responsibility describing the owner and the location of an instrument.</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="usedIn" nillable="true" type="gsmlla:AnalyticalSessionPropertyType">
						<annotation>
							<documentation>The property usedIn is an association between an AnalyticalInstrument and an AnalyticalSession identifying an analytical sessions which used this instrument.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:instrument</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalInstrumentPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalInstrument"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="AnalyticalMethod" substitutionGroup="gml:AbstractGML" type="gsmlla:AnalyticalMethodType">
		<annotation>
			<documentation>The AnalyticalMethod provides the name, and published citation, of the analytical method used in an analytical session.</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalMethodType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
          <element minOccurs="0" name="methodName" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property methodName:AnalyticalMethodTerm contains a term from a controlled vocabulary that describes an analytical method used in a session (e.g., XRF mass spectrometry, ICPMS, SHRIMP geochronology).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:AnalyticalMethodTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AnalyticalMethodTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="citation" nillable="true" type="cit:CI_Citation_PropertyType">
						<annotation>
							<documentation>The citation property is an association between an AnalyticalMethod and a CIT:CI_Citation describing a published description of a particular analytical method (e.g., a standard operating procedure document).</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalMethodPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalMethod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="AnalyticalProcess" substitutionGroup="gml:AbstractFeature" type="gsmlla:AnalyticalProcessType">
		<annotation>
			<documentation>An analytical process is a concrete implementation of OM::OM_Process and describes the steps and methods used in an analytical session.  It links to an analytical session (data acquisition) or a computational process which produce analytical results.</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalProcessType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="method" nillable="true" type="gsmlla:AnalyticalMethodPropertyType">
						<annotation>
							<documentation>The property method is an association that links an AnalyticalProcess to an AnalyticalMethod that describes the type of analytical method used to make an observation.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="acquisition" nillable="true">
						<annotation>
							<documentation>The property acquisition is an association that links an AnalyticalProcess to an AnalyticalSession that describes the analytical session (e.g., laboratory session) in which an observation was made and data acquired.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlla:AnalyticalSession"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="computation" type="gml:ReferenceType" minOccurs="0" nillable="true">
						<annotation>
							<documentation>The computation property is an association between an AnalyticalProcess and a CIT:ProcessStep that describes the computational process associated with the process.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">mrl:LI_ProcessStep</targetElement>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalProcessPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalProcess"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="AnalyticalSession" substitutionGroup="gml:AbstractFeature" type="gsmlla:AnalyticalSessionType">
		<annotation>
			<documentation>This feature type describes the time and operator of a particular laboratory analytical session. AnalyticalSession also has associated links to the type of instrument and analytical method used, processing steps applied to data collected during a session, and instrument parameters unique to that session.</documentation>
		</annotation>
	</element>
	<complexType name="AnalyticalSessionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="time" nillable="true" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>The property time is an association between an AnalyticalSession and a TM_Period describing the time period during which the analysis was performed.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="operator" nillable="true" type="cit:CI_Responsibility_PropertyType">
						<annotation>
							<documentation>The property operator is an association between an AnalyticalSession and a CIT:CI_Responsability describing the operator or organisation responsible for the analytical session.</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true">
						<annotation>
							<documentation>The property parameter (OM::NamedValue) contains a name/value pair to describe arbitrary environmental or instrument setting parameters that apply to an entire analytical session (e.g., voltage, current, temperature, vacuum). The "name" attribute of NamedValue is a term from a controlled vocabulary.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="om:NamedValue"/>
							</sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
          <element minOccurs="0" name="instrument" nillable="true" type="gsmlla:AnalyticalInstrumentPropertyType">
						<annotation>
							<documentation>The property instrument is an association between an AnalyticalSession and an AnalyticalInstrument that describes the instrument used in the analytical session.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:usedIn</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceAnalyses" nillable="true" type="gsmlla:ReferenceSpecimenPropertyType">
						<annotation>
							<documentation>The property referenceAnalysis is an association between an AnalyticalSession and a ReferenceSpecimen that describes a reference specimen (i.e., standards, blanks) used in the analytical session.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:usedIn</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnalyticalSessionPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:AnalyticalSession"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeochronologicInterpretation" substitutionGroup="gml:AbstractFeature" type="gsmlla:GeochronologicInterpretationType">
		<annotation>
			<documentation>A GeochronologicInterpretation is an interpretation made by a geologist of the age of a specimen made by statistical analysis of a collection of observations.  A geologic specimen may have multiple geochronological interpretations made on it, each related to a different observation/result collection.</documentation>
		</annotation>
	</element>
	<complexType name="GeochronologicInterpretationType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="interpretedAge">
						<annotation>
							<documentation>The interpretedAge property is an association between a GeochronologicInterpretation and a GeologicEvent that describes the dated event, process and environment.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlb:GeologicEvent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="isotopicEvent" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The isotopicEvent:IsotopicEventType contains a term from a controlled vocabulary that describes any isotopic events that are relevant to the interpretation. e.g., closure, isotopic mixing, Pb loss, etc.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:IsotopicEventType</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">IsotopicEventType</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="isotopicSystem" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property isotopicSystem:IsotopicSystemName contains a term from a controlled vocabulary that describes the isotopic system used to calculate geochronological age. A vocabulary would contain values such as: Ar-Ar, K-Ar, Nd-Sm, Pb-Pb, Rb-Sr, Re-Os, U-Pb, etc.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:IsotopicSystemName</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">IsotopicSystemName</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="statisticalMethod" nillable="true" type="gml:ReferenceType">
						<annotation>
							<documentation>The property statisticalMethod:StatisticalMethodTerm contains a term from a controlled vocabulary that describes the statistical method used to interpret the results.  (e.g., weighted mean, median, concordia, discordia, etc)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:StatisticalMethodTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">StatisticalMethodTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="interpretedBy" nillable="true" type="cit:CI_Responsibility_PropertyType">
						<annotation>
							<documentation>The property interpretedBy is an association between a GeochronologicInterpretation and a CIT:CI_Responsability describing the party responsible for this interpretation.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="citation" nillable="true" type="cit:CI_Citation_PropertyType">
						<annotation>
							<documentation>The citation property is an association between a GeochronologicInterpretation and a CIT:CI_Citation that describes authors and other reference information for an interpreted age.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="preferredInterpretation" nillable="true">
						<annotation>
							<documentation>The property preferredInterpretation:Primitive::Boolean indicates whether this interpretation is the preferred interpretation (i.e., the analytical data may be reinterpreted).</documentation>
						</annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
					</element>
          <element minOccurs="0" name="sourceCollection" nillable="true" type="sam:SF_SamplingFeatureCollectionPropertyType">
						<annotation>
							<documentation>The property sourceCollection is an association between a GeochronologicInterpretation and an OM::SF_SamplingFeatureCollection that lists a collection of OM::SF_SamplingFeature (e.g., a collection of burn spots or craters from a SHRIMP analytical session).  When legacy published data for which the SamplingFeatureCollection is unknown, it may be delivered with SamplingFeatureCollection = 'unknown'.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeochronologicInterpretationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:GeochronologicInterpretation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeologicSamplingMethod" substitutionGroup="gml:AbstractFeature" type="gsmlla:GeologicSamplingMethodType">
		<annotation>
			<documentation>GeologicSamplingMethod is an implementation of OM::SF_Process to describe the method used to obtain a geologic specimen.
Examples include: 

	*diamond drilling
	*percussion drilling
	*piston core drilling
	*vibro core drilling
	*channel sampling
	*sea floor dredging
	*outcrop sampling
</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSamplingMethodType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="method" type="gml:ReferenceType">
						<annotation>
							<documentation>The property method:GeologicSamplingMethodTerm is a term from a controlled vocabulary that describes the process used to obtain or create a geologic specimen. e.g., diamond drilling, percussion drilling, piston core drilling, vibro core drilling, channel sampling, sea floor dredging, crushing, mineral separation, melting, outcrop sampling.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:GeologicSamplingMethodTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicSamplingMethodTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true">
						<annotation>
							<documentation>The property parameter (OM::NamedValue) contains a name/value pair to describe arbitrary parameters used in the sampling process.  The "name" attribute of NamedValue shall be a term from a controlled vocabulary.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="om:NamedValue"/>
							</sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSamplingMethodPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:GeologicSamplingMethod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeologicSpecimenPreparation" substitutionGroup="spec:PreparationStep" type="gsmlla:GeologicSpecimenPreparationType">
		<annotation>
			<documentation>GeologicSpecimenPreparation is an extension of ISO Specimen::preparationStep to allow details of preparation steps to be delivered (e.g., filtration and mesh size, chemical additives, crushing methods, drying parameters, etc.).</documentation>
		</annotation>
	</element>
	<complexType name="GeologicSpecimenPreparationType">
		<complexContent>
			<extension base="spec:PreparationStepType">
				<sequence>
          <element minOccurs="0" name="preparationMethod" type="gml:ReferenceType">
						<annotation>
							<documentation>The preparationMethod:GeologicSpecimenPreparationTerm contains a term from a controlled vocabulary that describes the method employed for the preparation of a geologic specimen for further analysis.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlla:GeologicSpecimenPreparationTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicSpecimenPreparationTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true">
						<annotation>
							<documentation>The property parameter (OM::NamedValue) contains name/value pair to describe arbitrary parameters used in this preparation step (e.g., mesh size in a sieving process, type of chemical additives, parameters in a mineral separation process). The "name" attribute of NamedValue shall be a term from a controlled vocabulary.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="om:NamedValue"/>
							</sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicSpecimenPreparationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:GeologicSpecimenPreparation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Image" substitutionGroup="sam:SF_SamplingFeature" type="gsmlla:ImageType">
		<annotation>
			<documentation>The Image feature type is used to describe images of sampling features, for example, photographs of ion microprobe grain mounts.</documentation>
		</annotation>
	</element>
	<complexType name="ImageType">
		<complexContent>
			<extension base="sam:SF_SamplingFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ImagePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:Image"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="ReferenceSpecimen" substitutionGroup="spec:SF_Specimen" type="gsmlla:ReferenceSpecimenType">
		<annotation>
			<documentation>A reference specimen is a specimen with known or accepted values of some property.  The citation property describes the location of a published description of these values. Reference specimens include analytical blanks. ReferenceSpecimens are used in quality control procedures to assess method reproducibility. 

Analytical results from a reference specimen analysed during an AnalyticalSession are delivered in the same way as the results of other specimens analysed in that session.</documentation>
		</annotation>
	</element>
	<complexType name="ReferenceSpecimenType">
		<complexContent>
			<extension base="spec:SF_SpecimenType">
				<sequence>
          <element minOccurs="0" name="referenceDescription" nillable="true" type="cit:CI_Citation_PropertyType">
						<annotation>
							<documentation>The property referenceDescription is an association between a ReferenceSpecimen and a CIT:CI_Citation that references a citation of published analytical results for this standard reference specimen.</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="usedIn" nillable="true" type="gsmlla:AnalyticalSessionPropertyType">
						<annotation>
							<documentation>The property usedIn is an association between a ReferenceSpecimen and an AnalyticalSession in which the reference specimen was used.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">gsmlla:referenceAnalyses</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReferenceSpecimenPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlla:ReferenceSpecimen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
